# Introduction to SQlite3

SQLite is a C library that provides a lightweight disk-based database that does'nt require a seperate server
process and allows accessing the database using a nonstandard variant of the SQL query language

` Steps ` 
****
    - Create a connection to the database 
    - Create a Cursor Object
    - Call the Cursor's execute function to fire the SQL queries 
    - You can also use the connection object to fire SQL queries ( but this is not desirable )

In [1]:
import sqlite3 as sq 
try:
    con = sq.connect('student.db')
    print('Connected to the database')
except Exception as e:
    print(repr(e))

Connected to the database

In [2]:
con

In [3]:
print(dir(con))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [4]:
cur = con.cursor()

In [5]:
cur

In [6]:
print(dir(cur))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'arraysize', 'close', 'connection', 'description', 'execute', 'executemany', 'executescript', 'fetchall', 'fetchmany', 'fetchone', 'lastrowid', 'row_factory', 'rowcount', 'setinputsizes', 'setoutputsize']

In [7]:
# Lets create a table 
query = """create table if not exists STUDENT(roll_no int PRIMARY KEY,name text, score real)"""
try:
    cur.execute(query)
    print('Table created ')
except Exception as e:
    print(repr(e))

Table created

In [8]:
rolls = [ 101,102,103,104,105]
names = ['amit','adhar','gokul','sandeep','Jithin']
scores = [50,70,60,80,90]

data = tuple(zip(rolls,names,scores))

In [9]:
data

((101, 'amit', 50),
 (102, 'adhar', 70),
 (103, 'gokul', 60),
 (104, 'sandeep', 80),
 (105, 'Jithin', 90))

In [10]:
cur.executemany('insert into STUDENT values(?,?,?)',(data))

# Read data

In [11]:
rows = cur.execute('select * from STUDENT')

In [12]:
rows

In [13]:
rows.fetchall()

[(101, 'amit', 50.0),
 (102, 'adhar', 70.0),
 (103, 'gokul', 60.0),
 (104, 'sandeep', 80.0),
 (105, 'Jithin', 90.0)]

In [14]:
rows = cur.execute('select score,name from STUDENT')
rows.fetchall()

[(50.0, 'amit'),
 (70.0, 'adhar'),
 (60.0, 'gokul'),
 (80.0, 'sandeep'),
 (90.0, 'Jithin')]

In [15]:
cur.execute('insert into student values(?,?,?)',(106,'rahul',40))

In [16]:
rows=cur.execute('select * from student')

In [17]:
rows.fetchall()

[(101, 'amit', 50.0),
 (102, 'adhar', 70.0),
 (103, 'gokul', 60.0),
 (104, 'sandeep', 80.0),
 (105, 'Jithin', 90.0),
 (106, 'rahul', 40.0)]

In [18]:
row=cur.execute('insert into student values(?,?,?)',(107,'ujjwal',89))

In [19]:
rows=cur.execute('select * from student order by score')

In [20]:
rows.fetchall()

[(106, 'rahul', 40.0),
 (101, 'amit', 50.0),
 (103, 'gokul', 60.0),
 (102, 'adhar', 70.0),
 (104, 'sandeep', 80.0),
 (107, 'ujjwal', 89.0),
 (105, 'Jithin', 90.0)]

In [21]:
rows=cur.execute('select * from student where score >=80')

In [22]:
rows.fetchall()

[(104, 'sandeep', 80.0), (105, 'Jithin', 90.0), (107, 'ujjwal', 89.0)]

In [23]:
rows=cur.execute('select count(*) from student where score >=80')

In [24]:
rows.fetchall()

[(3,)]

In [25]:
rows=cur.execute('select * from student where name LIKE "a%" ')

In [26]:
rows.fetchall()

[(101, 'amit', 50.0), (102, 'adhar', 70.0)]

In [33]:
try:
    rows=cur.execute('insert into student values(?,?,?)',('145','shweta',89))
except Exception as e:
    print(repr(e))

In [37]:
rows=cur.execute('select * from student  ')

In [38]:
rows.fetchall()

[(101, 'amit', 50.0),
 (102, 'adhar', 70.0),
 (103, 'gokul', 60.0),
 (104, 'sandeep', 80.0),
 (105, 'Jithin', 90.0),
 (106, 'rahul', 40.0),
 (107, 'ujjwal', 89.0),
 (109, 'shweta', 89.0),
 (123, 'shweta', 89.0),
 (145, 'shweta', 89.0)]

In [39]:
con.commit()

In [40]:
con.close()

In [41]:
con

In [42]:
con = sq.connect(':memory:') # In memory database ( RAM )

In [43]:
con

# UPDATE